<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean class="in.sp.bean.Address" id="addrId" autowire-candidate="false" >
		<property name="houseno" value="111"></property>
		<property name="city" value="Indore"></property>
		<property name="pincode" value="452018"></property>
	</bean>

<bean class="in.sp.bean.Address" id="addrId1" >
		<property name="houseno" value="112" ></property>
		<property name="city" value="Indore"></property>
		<property name="pincode" value="452015"></property>
	</bean>

	<bean class="in.sp.bean.Student" id="stdId" autowire="byType">
		<property name="rollno" value="1"></property>
		<property name="name" value="Aarohi"></property>
		
	</bean>

</beans>