<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean class="in.sp.beans.Address" id="addrId">
		<constructor-arg value="222"/>
			<constructor-arg value="Indore"/>
				<constructor-arg value="452018"/>
			
		
	</bean>
	<bean class="in.sp.beans.Address" id="addrId1" autowire-candidate="false">
		<constructor-arg value="22"/>
			<constructor-arg value="guna"/>
				<constructor-arg value="452012"/>

	<bean class="in.sp.beans.Student" id="stdId" autowire="constructor">
		<constructor-arg value="1" index="0"/>
			<constructor-arg value="Aarohi" index="1"/>
		
				
	</bean>

</beans>